
* {
    font-family: 'poppins';
}

#logo-cabecera {
    height: 200px;
    float: right;
    top: 15px;
}

#logoLetras-cabecera{
    height: 250px;
    float: left;
    top: 15px;
}
#encabezado{
    height: 200px;
    color: white;
    text-align: center;
    
}